GH_TEST_CLIENT_ID="ClientID"
GH_TEST_CLIENT_SECRET="ClientSecret"
GH_TEST_ACCOUNT="Username"
GH_TEST_REPOSITORY_NAME="repository1|repository2"
GH_TEST_PAUSED_LABELS="label1|label2"
GH_TEST_CACHE_LOCATION="/sample/absolute/path"